<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>

<body>
    <div class="body">
        <div class="navbar">
            <div class="logo">LifeSnap</div>
            <div class="nav">
                <div class="nav-item">
                    <ul>
                        <li>
                            <a href="./home">Home</a>
                        </li>
                        <li>
                            <a href="./add"> Add Patient</a>

                        </li>
                        <li>
                            <a href="/api/health/view">View Patient </a>
                        </li>
                        <li>
                            <a href="">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- <%- include('./pages/header') %> -->
        <div class="image">
            <img src="/images/healthcare.jpeg" alt="">
        </div>
        <div class="content">
            <h2>What is doctor patient relationship ?</h2>
            <p> A doctor-patient relationship (DPR) is considered to be the core element in the ethical principles of
                medicine. DPR is usually developed when a physician tends to a patient's medical needs via check-up,
                diagnosis, and treatment in an agreeable manner. Due to the relationship, the doctor owes a
                responsibility
                to the patient to proceed toward the ailment or conclude the relationship successfully. In particular,
                it is
                essential that primary care physicians develop a satisfactory DPR in order to deliver prime health care
                to
                patients.</p>
            <img src="/images/home2.jpg" alt="" class="img1">
            <h2>Fundamentals for Dynamic DPR
            </h2>
            <p>Several medical reviews have covered ways to form a relationship between a physician and a patient. Some
                essential features are important for maintaining a healthy DPR are covered in more detail below:</p>
            <ol>
                <li>
                    <p><b> Communication:</b> Good communication skills are essential to establish DPR. Studies have
                        revealed
                        that
                        effective communication between physician and patient has resulted in multiple impacts on
                        various
                        aspects of health consequences such as: <br>
                    <ul>
                        <li>improved medical, functional, and emotional condition of patients;</li>
                        <li> better patient compliance with medical treatment;</li>
                        <li> enhanced fulfillment of patient toward healthcare services;</li>
                        <li> lesser risks of medical misconduct.</li>
                    </ul>
                    </p>
                </li>
                <li>
                    <p><b>Doctor empathy:</b> Empathy is vital to ensure the quality of DPR. This enables the physician
                        to
                        understand the symptomatic experiences and needs of individual patients. Studies have suggested
                        that
                        physician empathy improves the therapeutic effect and the patient’s quality of life.</p>
                </li>
                <li>
                    <p><b>Trust: </b>Trust in doctors allows patients to effectively discuss their health issues.
                        Development
                        of
                        trust enables the patient to comply with the doctor’s guidance, which consequently results in
                        improvement of health.</p>
                </li>
                <li>
                    <p><b>Informed consent:</b> This is based on the moral and legal arguments of the patient’s autonomy
                        (independence in decision making). In relation to trust, the physician needs to be honest with
                        the
                        patient and his family to provide a genuine assessment of favorable and unfavorable outcome
                        probabilities, along with the suggested therapy.</p>
                </li>
                <li>
                    <p><b>Professional boundaries:</b> This deals with any behavior on the part of the doctor that
                        transgresses
                        the limits of the professional relationship, or boundary violations. For example, the following
                        behaviors should be avoided to respect professional boundaries between the doctor and patient:
                    <ul>
                        <li>observing the patient in unorthodox settings at the convenience of the physician;</li>
                        <li> burdening the patient with personal information.</li>

                    </ul>
                    </p>
                </li>
            </ol>

            <img src="/images/self-care.jpg" alt="" class="img2">

        </div>
        <div class="footer">
            <p>A copyright disclaimer is a statement that informs and warns your site’s visitors that the content on
                your website was created and is rightfully owned by you. It also lets them know they can use your
                content only with your permission and under certain conditions.</p>
        </div>
    </div>
</body>

</html>