<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>

    <div class="navbar">
        <div class="logo">LifeSnap</div>
        <div class="nav">
            <div class="nav-item">
                <ul>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/add"> Add Patient</a>

                    </li>
                    <li>
                        <a href="/view">View Patient </a>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>

</html>